# Prerequisites
*.d
dep/
dep_bonus/

# Object files
*.o
*.ko
*.obj
*.elf
obj/
obj_bonus/

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
bin/

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

## Editor
.vs/
.vscode/
*~
\#*\#

# Others
.DS_Store
*Makefile.gen
*mlx-test
cub3D
